/* Color Scheme */

/* 

https://color.adobe.com/dc6a9cd68e98073387aee48ef6bcbc9d--dark-purple-color-scheme-jewel-tone-color-scheme-color-theme-10408143/edit/?copy=true&base=2&rule=Custom&selected=4&name=Copy%20of%20dc6a9cd68e98073387aee48ef6bcbc9d--dark-purple-color-scheme-jewel-tone-color-scheme&mode=rgb&rgbvalues=0.3568627450980392,0.043137254901960784,0.2980392156862745,0.2823529411764706,0.13333333333333333,0.3333333333333333,0.1843137254901961,0.23529411764705882,0.3686274509803922,0.10196078431372549,0.3333333333333333,0.403921568627451,0,0.44313725490196076,0.4392156862745098&swatchOrder=0,1,2,3,4

*/

body {
    font-family: 'Arvo';
    font-size: 16px;
    padding: 0px 50px 0px 50px;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "header header"
        "main sidebar"
        "footer footer";
    grid-gap: 20px;
}

div {
    color: #333;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.header {
    grid-area: header;
    display: inline-block;
    padding: 0px;
    height: 40px;
}

.sidebar {
    grid-area: sidebar;
    background-color: #BDD4DE;
    padding: 0 20px;
}

.main {
    grid-area: main;
    padding: 0px;
}

.footer {
    grid-area: footer;
    display: table;
    text-align: center;
    background-color: #EFEFEF;
    padding: 0px;    
}

.footer p {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 0;
}

/* Responsive menu */
/* See:

   https://medialoot.com/blog/how-to-create-a-responsive-navigation-menu-using-only-css/
*/

/*Strip the ul of padding and list styling*/
.header ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
}

/*Create a horizontal list with spacing*/
.header li {
    display:inline-block;
    float: left;
    margin-right: 1px;
}
/*Style for menu links*/
.header li a {
    display:block;
    min-width:140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
}
/*Active color*/
.header li a.active {
    background: #FF5035;
}
/*Hover state for top level links*/
.header li:hover a {
    background: #FF5035;
}
/*Style for dropdown links*/
.header li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}
/*Hover state for dropdown links*/
.header li:hover ul a:hover {
    background: #FF5035;
    color: #fff;
}
/*Hide dropdown links until they are needed*/
.header li ul {
    display: none;
}
/*Make dropdown links vertical*/
.header li ul li {
    display: block;
    float: none;
}
/*Prevent text wrapping*/
.header li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
/*Display the dropdown on hover*/
.header ul li a:hover + .hidden, .hidden:hover {
    display: block;
}
/*Style 'show menu' label button and hide it by default*/
.header .show-menu {
    text-decoration: none;
    color: #fff;
    background: #FF5035;
    text-align: center;
    padding: 10px 0;
    display: none;
}
/*Hide checkbox*/
.header input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
.header input[type=checkbox]:checked ~ #menu{
    display: block;
}
/*Responsive Styles*/
@media screen and (max-width : 760px){
    body {
        padding: 0px;
    }

    .header {
	height: auto;
    }

    /* Change grid */
    .container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
            "header"
            "main"
	    "sidebar"
            "footer";
	grid-gap: 20px;
    }
    
    /*Make dropdown links appear inline*/
    .header ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    .header li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    .header ul li, li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .header .show-menu {
        display:block;
    }
}
